*{margin:0;padding:0}

li{list-style:none}

img{vertical-align:top;border:none}
body{
    background: #999;
}
.container{
    width: 100%;
    height: 6.67rem;
    position: relative;
}
.ripple{
    width: 0.88rem;
    height: 0.88rem;
    position: relative;
    left: 1.5rem;
    top: 2rem;
}
.ripple span{
    width: 100%;
    height:100%;
    border-radius: 50%;
    display: block;
    background: rgba(255, 220, 1, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 1px 1px 15px #999;
}
.ripple span:nth-child(1){
    -webkit-animation: click1 1s linear infinite;
    animation: click1 1s linear infinite;
}
.ripple span:nth-child(2){
    -webkit-animation: click2 1.1s linear infinite;
    animation: click2 1.1s linear infinite;
}
.ripple span:nth-child(3){
    -webkit-animation: click3 1.2s linear infinite;
    animation: click3 1.2s linear infinite;
}
.ripple span:nth-child(4){
    -webkit-animation: click4 1.3s linear infinite;
    animation: click4 1.3s linear infinite;
}
.ripple span:nth-child(5){
    -webkit-animation: click5 1.4s linear infinite;
    animation: click5 1.4s linear infinite;
}
.ripple span:nth-child(6){
    -webkit-animation: click6 1.5s linear infinite;
    animation: click6 1.5s linear infinite;
}
.ripple2 span:nth-child(1){
    -webkit-animation: click6 2.2s linear infinite;
    animation: click6 2.2s linear infinite;
}
@-webkit-keyframes click1{
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes click1 {
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}
@-webkit-keyframes click2{
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@keyframes click2 {
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@-webkit-keyframes click3{
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.7);
        transform: scale(2.7);
    }
}

@keyframes click3 {
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.7);
        transform: scale(2.7);
    }
}
@-webkit-keyframes click4{
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.9);
        transform: scale(2.9);
    }
}

@keyframes click4 {
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(2.9);
        transform: scale(2.9);
    }
}
@-webkit-keyframes click5{
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(3.1);
        transform: scale(3.1);
    }
}

@keyframes click5 {
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(3.1);
        transform: scale(3.1);
    }
}
@-webkit-keyframes click6{
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(3.3);
        transform: scale(3.3);
    }
}

@keyframes click6 {
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(3.3);
        transform: scale(3.3);
    }
}







/*心脏部分开始*/
.heart {
    animation: heartbeat 1s infinite;
    -webkit-animation: heartbeat 1s infinite;
    /* Safari 和 Chrome */

    width: 0.98rem;
    height: 0.98rem;
    background: #f00;
    position: relative;
    filter: drop-shadow(0px 0px 5px rgb(255, 20, 20));
    transform: rotate(45deg);
    left: 1.5rem;
    top: 1.2rem;
    z-index: 2;
}
.heart2{
    animation: heartbeat 0.8s infinite;
    -webkit-animation: heartbeat 0.8s infinite;
}
.heart3{
    animation: heartbeat 0.3s infinite;
    -webkit-animation: heartbeat 0.3s infinite;
}
.heart:before, .heart:after {
    content: "";
    position: absolute;
    width: 1rem;
    height:  1rem;
    background: #f00;
    border-radius: 50%;
}

.heart:before {
    left:-0.5rem;
}

.heart:after {
    left: 0;
    top: -0.5rem;
}

@keyframes heartbeat {
    0% {
        transform: rotate(45deg) scale(0.8, 0.8);
        opacity: 1;
    }
    25% {
        transform: rotate(45deg) scale(1, 1);
        opacity: 0.8;
    }
    100% {
        transform: rotate(45deg) scale(0.8, 0.8);
        opacity: 1;
    }
}
/*心脏部分结束*/
/*跳动频率*/
.frequency{
    position: absolute;
    top: 2.3rem;
    left: 1.6rem;
    z-index: 2;
    font-size: 0.2rem;
    color: #fff;
}
.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.8rem;
    background-color: #333;

}
.foot-count{
    position: revert;
   margin-top: 0.05rem;
    z-index: 22;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foot-list{
    /*width: 100%;*/
    display: flex;

    flex-direction: column;
    padding: 0 .2rem;
    z-index: 11;
}
.foot-item{
    font-size: 0.14rem;
    color: #fff;
    line-height: 0.6rem;
    display: inline-block;

}
.foot-circular{
    display: inline-block;
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 50%;
    margin-top: -0.15rem;
    margin-left: 0.05rem;
    background-color: #ececec;
}
.foot-line{
    position: fixed;
    bottom:0.2rem ;
    left: 9%;
    height: 0.01rem;
    width: 82%;
    background-color: #ececec;
}
.seelct .foot-item{
    font-size: 0.14rem;
    color:rgb(255, 220, 1);
    line-height: 0.6rem;
    display: inline-block;
}
.seelct .foot-circular{
    display: inline-block;
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 50%;
    margin-top: -0.15rem;
    margin-left: 0.05rem;
    background-color: rgb(255, 220, 1);

}