<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>心脏节拍器</title>
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/rem.js"></script>
</head>
<body>


<div class="container" id="app" ref="palyVideo">
    <div class="top-play" @click="play" v-if="showPlayMusic">
        <div class="play"></div>
        <div class="play"></div>
    </div>
    <div class="top-play" @click="suspend" v-if="!showPlayMusic">
        <div class="no-play"></div>
    </div>
    <!--   波纹-->
    <div class="ripple" :class="tabIndex ==1? 'ripple2':(tabIndex == 2? 'ripple3':'')" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!--  心脏  -->
    <div class="heart" :class="tabIndex ==1? 'heart2':(tabIndex == 2? 'heart3':'')" ></div>
    <!--   心脏跳动数字-->
    <div class="frequency">{{heartbeatNum}}次/分</div>
    <div class="foot">
        <div class="foot-count">
            <div class="foot-list" @click="changetab(index,item)"  v-for="(item,index) in tabList" :key="index" :class="index == tabIndex?'seelct':''">
                <span class="foot-item">{{item}}</span>
                <span class="foot-circular"></span>
            </div>
        </div>
        <div class="foot-line"></div>


    </div>
    <audio :src="musci" id="musicAudio" autoplay loop preload ></audio>

</div>


</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>


<script>
    new Vue({
        el: '#app',
        data: {
            //数据类型
            tabIndex:0,
            tabList:['100','110','120'],
            heartbeatNum:'100',
            musci:'img/a.mp3',
            showPlayMusic:false

        },

        mounted() {
            let self = this;
            self.$refs.palyVideo.click(self.playMusic());

        },
        methods: {
            changetab:function (index,item) {
                this.tabIndex = index;
                this.heartbeatNum = item;
                if(index == 0){
                    this.musci = 'img/a.mp3';
                }else if(index == 1){
                    this.musci = 'img/b.mp3';
                }else {
                    this.musci = 'img/c.mp3';
                }
                this.$nextTick(function () {
                    var  musicAudio = document.getElementById("musicAudio");
                    musicAudio.play();

                })
            },
            playMusic(){

                let self = this;
                self.showPlayMusic = true;
                if(self.musci){
                    self.$nextTick(function () {
                        var  musicAudio = document.getElementById("musicAudio");
                        musicAudio.load(); //重新加载src指定的资源
                        musicAudio.play();
                    })
                }
            },

            play(){
                console.log(222222,this.showPlayMusic);
                this.showPlayMusic = false ;
                var  musicAudio = document.getElementById("musicAudio");
                musicAudio.load(); //重新加载src指定的资源
                musicAudio.pause();
            },
            suspend(){
                this.showPlayMusic = true;
                var  musicAudio = document.getElementById("musicAudio");
                musicAudio.load(); //重新加载src指定的资源
                //Media.play(); //播放
                musicAudio.play(); //暂停
            }
        },
        created: function () {
            
        },

    });

</script>
</html>